html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}


@font-face {
  font-family: bttf;
  src: url(../fonts/BTTF.ttf);
}

@font-face {
  font-family: bttfbold;
  src: url(../fonts/BTTF.ttf);
}

body {
  top: 0;
  left: 0;
  background-image:url(../images/deloreanBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: bttfbold, Copperplate, "Copperplate Gothic Light", fantasy;
  text-transform: lowercase;
  color: white;
  text-shadow: 2px 2px #000000;
}

#timer {
  display: none
  border: 5px solid black;
  width: 35%;
  height: 42%;
  background-image: url("../images/timer-blank.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 2%;
  top: 70%;
  min-height: 300px;
  min-width: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117%;
  background-color: rgba(0,0,0,0.3); /*dim the background*/
}

section {
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
}

article {
  position: absolute;
  width: 28%;
  transition: all, 0.5s, ease;
}

article li {
  font-size: 1.6em;
}

/* The Clock Tower */
article:nth-child(1) {
  top: 20%;
  left: 18%;
}

/* Twin Pines Mall */
article:nth-child(2) {
  left: 40%;
  top: 25%;
}

/* Lyon Estates */
article:nth-child(3) {
  left: 71%;
  top: 81%;
}

article:nth-child(3) h1:hover {
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
  color:black;
  text-shadow: 2px 2px 1px red;
}

/* Peabody Farm */
article:nth-child(4) {
  display: none;
  left: 40%;
  top: 20%;
}

/* Hill Valley High */
article:nth-child(5) {
  left: 60%;
  top: 40%;
}

h1 {
  font-size: 2em;
  margin: auto;
}

ul {
  margin: auto;
  text-shadow: 1px 1px #000000;
}

#clocktower {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 18%;
  left: 17%;
  z-index: -1;
}

#mall {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: -1;
}

#hill-val-hi {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: -1;
}

#mcfly-home {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 78%;
  right: 10%;
  z-index: -1;
}

#lyon-es-1955{
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 78%;
  right: 10%;
  z-index: -1;
}

#farm {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}

.present-time {
  position: absolute;
  top: 150px;
  left: 20px;
}

.destination-time {
  position: absolute;
  top: 50px;
  left: 20px;
}

.last-time-departed {
  position: absolute;
  top: ;
  left: ;
}

#marty-fade  {
  display: none;
  position:absolute;
  top: 5%;
  left: 65%;
  height:180px;
  width:350px;
  margin:0 auto;
}

#marty-fade img {
  width: 100%;
  height: 100%;
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#marty-fade  img.top:hover {
  opacity:0;
}


/*===========================================================*/
/* Responsive Layout Keeps Locales Correctly Oriented  */
/*===========================================================*/
@media (max-width: 1050px) {
  html, body {
    font-size: 0.75em;
  }

  /* Clock Tower */
  article:nth-child(1) {
    top: 30%;
    left: 25%;
  }

  /* Mall */
  article:nth-child(2) {
    left: 47%;
    top: 27%;
  }

  /* Lyon Estates */
  article:nth-child(3) {
    left: 71%;
    top: 66%;
  }

  /* Hill Valley Hi */
  article:nth-child(4) {
    left: 71%;
    top: 66%;
  }
}

@media (max-width: 600px) {
  html, body {
    font-size: 0.75em;
  }

  /* Clock Tower */
  article:nth-child(1) {
    top: 30%;
    left: 25%;
  }

  /* Mall */
  article:nth-child(2) {
    left: 47%;
    top: 27%;
  }

  /* Lyon Estates */
  article:nth-child(3) {
    left: 71%;
    top: 66%;
  }

  /* Hill Valley Hi */
  article:nth-child(4) {
    left: 71%;
    top: 66%;
  }

  img {
    width: 85px !important;
    height: 85px !important;
 }


}
