ul {
  list-style: none;
}

body {
  margin: 0;
  background-color: skyblue;
}

.earth {
  position: fixed;
  height: 40%;
  width: 100%;
  bottom: 0;
  background-color: green;
}

.sun {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
}

.castle {
  position: absolute;
  left: 500px;
  bottom: 300px;
  width: 400px;
  height: 500px;
  z-index: 2;
}

.inner-castle {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 420px;
  background-color: darkgray;
}

.battlements li {
  position: absolute;
  top: 0;
  left: 160px;
  height: 80px;
  width: 80px;
  display: inline-block;
  background: darkgray;
}

.battlements li:first-child {
  left : 0;
}

.battlements li:last-child {
  right: 0;
  left: auto;
}

.moat {
  position: absolute;
  left: 460px;
  bottom : 260px;
  width: 480px;
  height: 80px;
  background: dodgerblue;
  z-index: 1;
  border-radius: 40px;
}

.gate {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 206px;
  height: 300px;
  background: black;

  margin: 0;
  padding: 0;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.gate li {
  height: 100%;
  width: 24px;
  margin-right: 2px;
  background: sienna;
  display: inline-block;
}

.gate li:last-child {
  margin-right: 0;
}



























































































