<ul>
<% @users.each do |user| %>
  <li>
    <%= link_to "ID: #{user.id}", user_path(user) %>
    <%= link_to "EDIT!", edit_user_path(user) %>
    Name: <%= user.name %>
    Email: <%= user.email %>


  </li>
  <% end %>
</ul>
