<!DOCTYPE html>
<html>
	<head>
	  <title>RailsAjaxApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<%= yield %>

	<input id="title" type="text">
	<input id="content" type="text">
	<button>SUBMIT AJAX</button>

	</body>
</html>
